@import "../../common styles/inputs.scss";
@import "../../common styles/containers.scss";
@import "../../common styles/forms.scss";

.login-container {
    @include containerStyle;
        .login-form{
        @include formStyle;
        .inputs-container{
            position: relative;
            .input-icon{
                position: absolute;
                z-index: 15;
                right: 16px;
                top: 16px;
                cursor: pointer;
                opacity: 0;
                transition: opacity 0.8s;
            
            }
            .input-icon.show {
                opacity: 1;
            }
            .password-icon{
                position: absolute;
                z-index: 15;
                right: 16px;
                top: 16px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                

            }
            .MuiInputBase-input{
                @include inputStyles;
            }

        }   
    }
    .button-box{

        height: 60px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        span{
            cursor: pointer;
            color: #D0BCFF; 
        }
        .account-text:hover{
            transition: 0.8s;
            color:#E6E0E9;
        }
    }
}


.MuiFilledInput-underline:before {
    border-bottom: none !important;
  }
  
  .MuiFilledInput-underline:after {
    border-bottom: 1px solid #D0BCFF !important;
  }