@mixin inputStyles {
    background-color: #36343B;
    border-radius: 4px 4px 0px 0px;
    color: var(--m-3-sys-dark-on-surface, #E6E0E9);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    &::placeholder{
        color: var(--m-3-sys-dark-on-surface, #E6E0E9);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
    }

    &:focus{
        outline:none!important;
    }
}