@import "../../common styles/containers.scss";
@import "../../common styles/inputs.scss";
@import "../../common styles/forms.scss";
.signup-container {
    @include containerStyle;
    margin-top: 50px;
    .signup-form{
        @include formStyle;
        height: 300px;

        .MuiInputBase-input{
            @include inputStyles;
        }
    }
    .button-box{

        height: 60px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        span{
            cursor: pointer;
            color: #D0BCFF;
        }
        .account-text:hover{
            transition: 0.8s;
            color:#E6E0E9;
        }
    }
}

.MuiFilledInput-underline:before {
    border-bottom: none !important;
  }
  
  .MuiFilledInput-underline:after {
    border-bottom: 1px solid #D0BCFF !important;
  }